/* Previous slide controls */
.sqs-block-summary-v2 .sqs-gallery-design-carousel .sqs-gallery-controls .previous::before,
.collection-type-index:not(.design-grid) .index-gallery .arrow.previous-slide::before,
.sqs-gallery-controls .previous::before {
  content: "\2B9C";
  font-family: 'freight-sans-pro';
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

/* Next slide controls */
.sqs-block-summary-v2 .sqs-gallery-design-carousel .sqs-gallery-controls .next::before,
.collection-type-index:not(.design-grid) .index-gallery .arrow.next-slide::before,
.sqs-gallery-controls .next::before {
  content: "\2B9E";
  font-family: 'freight-sans-pro';
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
